[Unit]
Description=proxy-ns
After=network.target

[Service]
ExecStart=/usr/bin/proxy-nsd
EnvironmentFile=/etc/proxy-nsd.conf

[Install]
WantedBy=multi-user.target
